.contact {
  h1 {
    font-size: 28px;
    font-weight: bold;
    color: #dfa974;
  }
  h2 {
    font-size: 28px;
    font-weight: normal;
  }

  input {
    border-radius: 2rem;
    width: 100%;
    height: 80px;
    font-size: 28px;
    padding-left: 50px;
  }
  input::placeholder {
    color: #dfa974;
    font-weight: bold;
  }
  #message {
    width: 100%;
    height: 400px;
    margin-top: 30px;
    border-radius: 2rem;
    font-size: 28px;
    padding-left: 50px;
    padding-top: 0;
  }
  #message::placeholder {
    color: #dfa974;
    font-weight: bold;
  }
}
